@import url('https://fonts.googleapis.com/css2?family=Adamina:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amethysta:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil:wght@400&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #000000;
  height: 100%;
  overflow-y: auto;
}
