
  .HH{
    background-image: url('/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  width: 100%;
  }
  .user-profile-container {
    
    max-width: 400px;
    margin-left: 250px;
    padding: 20px;
  }
  
  .user-profile-details {
    display: flex;
    flex-direction: column;
  }
  
  .profile-item {
    margin-bottom: 15px;
  }
  
  .profile-item label {
    font-weight: bold;
  }
  @media (max-width: 768px) {
    .user-profile-container {
    
      margin-left: 0px;
      
    }
    
  }
  
  .profile-editable {
    display: flex;
    align-items: center;
  }

  .profile-editable input {
    padding: 10px;
    width: 400px;
    background-color: #cdc8db;
    border-radius: 4px;
    border: none;
  }
  
  .edit-icon {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .save-changes-button {
    padding: 10px 15px;
    background-color: #542eb3;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  