.application-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.565);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 29px;
  min-width: 300px;
  margin-left: 240px;
}

.application-chart h3 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.application-data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  
}

.application-data div {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.application-data div::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.application-data div:nth-child(1)::before {
  background-color: #0088fe; /* Blue */
}

.application-data div:nth-child(2)::before {
  background-color: #00c49f; /* Green */
}

.application-data div:nth-child(3)::before {
  background-color: #ff8042; /* Orange */
}

@media screen and (max-width: 768px) {
  .application-chart {
    margin-left: 5%;
  }
  
}
