.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.705);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px); 
  transition: opacity 0.3s ease; 
}

.modal {

  background: rgba(255, 255, 255, 0.456);
  border: 3px solid rgba(255, 255, 255, 0.5);
  padding: 60px; 
  border-radius: 20px; 
  text-align: center;
  width: 450px; 
  margin-left: 240px;
  transition: all 0.3s ease-in-out; 
  opacity: 1; 
  transform: scale(1);
  animation: fadeInUpScale 0.5s ease-out; 
  font-family: 'poppins', sans-serif;
}

.modal.hidden {
  opacity: 0;
  transform: scale(0.95); 
  animation: fadeOutDownScale 0.4s ease-out; 
}

.modal h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

.modal p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 30px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

.confirmButton {
  width: 50%;
  background-color: #000000; 
  color: white;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 10px; 
  font-weight: 500;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4); 
  transition: background-color 0.3s ease;
  font-family: 'popins', sans-serif;
  font-size: 1rem;
}

.cancelButton {
  width: 50%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 10px; 
  font-weight: 500;
  box-shadow: 0 2px 10px rgba(244, 67, 54, 0.4); 
  transition: background-color 0.3s ease;
  font-family: 'popins', sans-serif;
  font-size: 1.1rem;
  border: 2px solid rgb(255, 0, 0);
}

.confirmButton:hover {
  background-color: #000000;
}

.cancelButton:hover {
  background-color: rgb(255, 0, 0);
}

.confirmButton:hover, .cancelButton:hover {
  transform: scale(1.05);
}

@keyframes fadeInUpScale {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(20px); 
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0); 
  }
}

@keyframes fadeOutDownScale {
  0% {
    opacity: 1;
    transform: scale(1) translateY(0); 
  }
  100% {
    opacity: 0;
    transform: scale(0.5) translateY(20px); 
  }
}


@media (max-width: 1024px) {
  .modal {
    width: 70%;
    padding: 40px; 
    margin-left: 0; 
  }
  
  .modal h2 {
    font-size: 2rem;
  }
  
  .modal p {
    font-size: 1rem;
  }

  .buttonGroup {
    flex-direction: column; 
    gap: 10px;
  }

  .confirmButton, .cancelButton {
    width: 100%;
  }
}


@media (max-width: 600px) {
  .modal {
    width: 90%;
    padding: 30px; 
    margin-left: 0; 
  }
  
  .modal h2 {
    font-size: 1.8rem;
  }
  
  .modal p {
    font-size: 0.9rem;
  }

  .buttonGroup {
    flex-direction: column; 
    gap: 10px;
  }

  .confirmButton, .cancelButton {
    width: 100%; 
  }
}

.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid #000;
  border-radius: 50%;
  width: 60px; /* Size of the spinner */
  height: 60px; /* Size of the spinner */
  animation: spin 1s linear infinite;
  margin: 20px auto; /* Center the spinner */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.closeButton {
  margin-top: 20px;
  background-color: #000;
  color: white;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 500;
}
