.favorite-jobs-section {
    padding: 25px;
    background-color: white;
  }
  
  .section-title {
    font-size: 18px;
    font-weight: bold;
    color: #621ea2;
    margin-bottom: 10px;
  }
  
  .section-subtitle {
    font-size: 30px;
    color: #621ea2;
    margin-bottom: 20px;
  }
  
  .jobs-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  
  .job-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding-left: 0%;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .job-card:hover {
    transform: scale(1.05);
  }
  
  .job-image {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .job-info h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
  }
  
  .job-info p {
    font-size: 14px;
    color: #888;
  }
  