.backgroud-image-icon {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100vw;
    height: 100vh; 
    object-fit: cover; 
}
.parent-container {
  	position: absolute;
  	top: calc(50% - 359px);
  	left: calc(50% - 586px);
  	backdrop-filter: blur(20px);
  	border-radius: 28.46px;
  	background-color: rgba(255, 255, 255, 0.28);
  	border: 2.1px solid rgba(255, 255, 255, 0.49);
  	box-sizing: border-box;
  	width: 1171px;
  	height: 718px;
  	overflow: hidden;
    border-color: #fff;
}
.macbook {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: var(--color-white);
  	width: 1280px;
  	height: 832px;
  	overflow: hidden;
}
.loginsignup-image-icon {
  	position: absolute;
  	top: 177px;
  	left: 111px;
  	border-radius: 95px;
  	width: 436px;
  	height: 412px;
  	object-fit: cover;
}
.register-container1 {
  	position: absolute;
  	top: calc(50% - 326px);
  	left: calc(50% - 180.05px);
  	backdrop-filter: blur(21.34px);
  	border-radius: 24px;
  	background-color: rgba(255, 255, 255, 0.3);
  	width: 354px;
  	height: 652px;
   
}
.clarityeye-hide-line-icon {
  	width: 16px;
  	position: relative;
  	height: 16px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.password-parent {
  	align-self: stretch;
  	border-radius: var(--br-3xs);
  	background-color: var(--color-white);
  	height: 40px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	padding: var(--padding-base);
  	box-sizing: border-box;
  	font-size: var(--font-size-smi);
  	color: var(--color-silver);
}
.password {
  	position: absolute;
  	top: 351px;
  	left: 39px;
  	width: 275px;
  	height: 53px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: var(--gap-5xs);
}
.login {
  	position: relative;
  	color: #7a1cac;
}
.back-to-login {
  	position: absolute;
  	top: 578px;
  	left: 125px;
  	width: 235.1px;
  	height: 15px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 3px;
}
.register-heading {
  	position: absolute;
  	top: calc(50% - 286px);
  	left: calc(50% - 113.05px);
  	font-size: var(--font-size-29xl);
  	font-family: var(--font-bevan);
  	display: flex;
  	align-items: center;
  	width: 272px;
  	height: 47px;
}
.usernamegmailcom {
  	position: relative;
}
.usernamegmailcom-wrapper {
  	align-self: stretch;
  	border-radius: var(--br-3xs);
  	background-color: var(--color-white);
  	height: 40px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: var(--padding-base);
  	box-sizing: border-box;
  	font-size: var(--font-size-smi);
  	color: var(--color-silver);
}
.email {
  	position: absolute;
  	top: 271px;
  	left: 35px;
  	width: 276px;
  	height: 61px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: var(--gap-5xs);
}
.sign-up-button {
  	position: absolute;
  	top: 516px;
  	left: 36px;
  	border-radius: var(--br-3xs);
  	background-color: #2e073f;
  	width: 276px;
  	height: 37px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: var(--padding-base);
  	box-sizing: border-box;
  	font-size: 14.23px;
  	color: var(--color-white);
  	font-family: var(--font-amethysta);
}
.confirm-password {
  	position: absolute;
  	top: 429px;
  	left: 37px;
  	width: 275.4px;
  	height: 53.3px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: var(--gap-5xs);
}
.mobile-number {
  	position: absolute;
  	top: 185px;
  	left: 35px;
  	width: 276px;
  	height: 61px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: var(--gap-5xs);
}
.name {
  	position: absolute;
  	top: 106px;
  	left: 36px;
  	width: 276px;
  	height: 61px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: var(--gap-5xs);
}
.register-container {
  	position: absolute;
  	top: calc(50% - 326px);
  	left: calc(50% + 143px);
  	box-shadow: 0px 2.8458333015441895px 49.8px rgba(0, 0, 0, 0.1);
  	width: 360.1px;
  	height: 652px;

}
.title {
  	position: absolute;
  	top: calc(50% + 188.65px);
  	left: calc(50% - 506px);
  	font-size: var(--font-size-29xl);
  	font-family: var(--font-allerta-stencil);
  	color: #000;
  	transform:  rotate(-1.7deg);
  	transform-origin: 0 0;
}
.register-page {
  	width: 100%;
  	position: relative;
  	background-color: var(--color-white);
  	height: 832px;
  	overflow: hidden;
  	text-align: left;
  	font-size: var(--font-size-3xs);
  	color: var(--color-darkslategray);
  	font-family: var(--font-adamina);
}

