.summary-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-left: 240px;
  
}

.summary-cards p {
  font-size: 1.5rem;
  color: rgb(0, 9, 189);
  margin: auto 0; 
  flex-grow: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
}
  

.summary-card1, .summary-card2, .summary-card3, .summary-card4{
  background: rgba(255, 255, 255, 0.565);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  text-align: center;
  color: black;
}


.summary-card1 h2, .summary-card2 h2, .summary-card3 h2, .summary-card4 h2{
  color: black;
  font-size: 1.2rem;
}

@media (max-width: 1024px) {
  .summary-cards {
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 15px; 
    margin-left: 0%; 
    margin-right: 2%;
  }
 
  }

