.SearchContentPage {
  background-image: url('/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.mainContent {
  margin-left: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 240px);
  padding: 20px;
  transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 80px;
    width: calc(100% - 80px);
  }
}

.mainHeading {
  font-size: 2.2rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 40px;
  margin-top: 20px;
  font-family: 'poppins', sans-serif;
  text-align: center;
}

.mainHeading span{
  color: #ffffff;
}

.searchWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 800px;
}

.searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  font-family: 'poppins', sans-serif;
  border: 1px solid #ddd;
}

.searchIcon {
  font-size: 1.2rem;
  color: #888;
  margin-right: 10px;
}

.searchInput {
  border: none;
  outline: none;
  font-size: 1rem;
  width: 90%;
  background-color: transparent;
  padding: 10px;
  color: #333;
}

.searchInput::placeholder {
  color: #aaa;
}

.searchButton {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 18px 40px;
  border-radius: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #000000;
  color: #fff;
}

.searchContainer:hover {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
  border-color: #ccc;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .mainContent {
    margin-left: 0;
    width: 100%;
    padding: 20px;
  }

  .searchWrapper {
    flex-direction: column;
    gap: 15px;
  }

  .searchButton {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
  }
}
