.sidebar {
    font-family: 'Poppins', sans-serif;
    width: 240px;
    background-color: #000000;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease-in-out, box-shadow 0.3s;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px 0;
  }
  
  .sidebar.collapsed {
    width: 80px;
    padding: 10px 0;
  }
  
  .collapseButton {
    background-color: transparent;
    border: none;
    color: #b0b0b0;
    font-size: 1.4rem;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    margin-left: auto;
    margin-right: auto;
  }
  
  .collapseButton:hover {
    transform: rotate(90deg);
  }
  
  .userSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .userImage {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .userName {
    font-size: 1rem;
    color: #fff;
    background-color: #333333;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
  }
  
  .navItem {
    color: #f5f5f5;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, padding 0.3s;
    border-left: 4px solid transparent;
    cursor: pointer;
  }
  
  .navItem:hover {
    background-color: #333;
    color: #ffffff;
    border-left: 4px solid #c97dff;
  }
  
  .navItem .icon {
    margin-right: 15px;
    font-size: 1.5rem;
  }
  
  .collapsed .navItem .icon {
    margin: 0 auto;
  }
  
  .collapsed .navItem span {
    display: none;
  }
  
  .active {
    background-color: #333333;
    color: #c97dff;
    border-left: 4px solid #c97dff;
  }
  
  /* FooterNav */
  .footerNav {
    display: none;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      visibility: hidden;
    }
  
    .footerNav {
      display: flex;
      justify-content: space-around;
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 15px 0;
      background-color: #1c1c1e;
      border-top: 1px solid #333;
    }
  
    .footerNav a {
      color: #ecf0f1;
      text-decoration: none;
      font-size: 1.8rem;
      transition: color 0.2s;
    }
  
    .footerNav a:hover {
      color: #c97dff;
    }
  
    .footerNav a.active {
      color: #c97dff;
    }
  
    .active {
      background-color: #1c1c1e;
      color: #c97dff;
      border-left: 0px solid #c97dff;
    }
  }
  