.AdminPage {
  display: flex;
  background-color: #EBD3F8;
  min-height: 100vh;
  overflow: hidden;
}

.mainContainer {
  margin-left: 240px;
  transition: margin-left 0.3s ease;
  padding: 40px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.mainContainerCollapsed {
  margin-left: 80px;
  transition: margin-left 0.3s ease;
  padding: 40px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.centerContainer {
  font-family: 'Poppins', sans-serif;
  padding: 40px;
  width: 80%;
  max-width: 960px;
  text-align: center;
}

.welcomeText {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #030303;
}

.welcomeText span {
  color: #7A1CAC;
}

.subText {
  font-size: 1rem;
  margin-bottom: 40px;
  color: #4d4d4d;
}

.infoCards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 20px;
  width: 30%;
  box-shadow: 0 8px 15px rgba(200, 152, 214, 0.399);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover {
  transform: scale(1.05);
}

.icon {
  margin-top: 10px;
  font-size: 24px;
  color: #7A1CAC;
}

.card h2 {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #646464;
  font-weight: 600;
}

.card p {
  font-size: 2.4rem;
  font-weight: 600;
  color: #0c0c0c;
}

@media screen and (max-width: 768px) {
  .mainContainer {
    margin-left: 0;
    padding: 10px;
  }

  .centerContainer {
    width: 90%;
    padding: 20px;
  }

  .infoCards {
    flex-direction: column;
    gap: 10px;
  }

  .card {
    width: 100%;
  }

  .welcomeText {
    font-size: 2rem;
  }

  .subText {
    font-size: 0.9rem;
  }
}