.welcome-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f0fc; /* Adjust background color */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left:15%;
}

.welcome-text {
  color: #333;
  font-size: 24px;
}

.welcome-text h1 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.welcome-text p {
  margin-top: 5px;
  font-size: 20px;
  color: #333; /* Adjust the text color */
}

.welcome-image img {
  width: 200px; /* Adjust the size of the image */
  height: auto;
  length: 500px;
}

@media (max-width: 768px) {
  .welcome-header {
    flex-direction: column;
    text-align: center;
  }

  .welcome-image img {
    width: 100px; /* Resize image for smaller screens */
  }
}
